@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'MuseoModerno', cursive;
}

h1{
    font-size: 3em;
    line-height: 0;
    
}
h4{
    font-size: 1.1em;
    
}
.headers{
    margin-top: 70px;
    margin-left: 2%;
}

.links{

    display: flex;
    align-items: center;
}
.container{
    height: 50vh;
    display: flex;
}

li{
    list-style: none;
    text-decoration: none;
}
a{text-decoration: none;}